<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    <div class="container">
        <h1>Video List</h1>
        <input type="text" id="searchBar" placeholder="Search videos...">
    </section>
        <div id="mediaList">
            
            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Just Intro</span>
                    <video controls>
                        <source src="/videos/LC-Intro.mp4" type="video/mp4">
                        Your browser support does not the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Learn Characters-1</span>
                    <video controls>
                        <source src="/video/LC-Ls-1.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Learn Characters-2</span>
                    <video controls>
                        <source src="/video/LC-Ls-2.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Lesson-1</span>
                    <video controls>
                        <source src="/video/Lesson-1.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Lesson-2</span>
                    <video controls>
                        <source src="/video/Lesson-2.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Lesson-3</span>
                    <video controls>
                        <source src="/video/Lesson-3.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Lesson-4</span>
                    <video controls>
                        <source src="/video/Lesson-4.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Grammar-1</span>
                    <video controls>
                        <source src="/video/Grammar-1.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Grammar-2</span>
                    <video controls>
                        <source src="/video/Grammar-2.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Grammar-3</span>
                    <video controls>
                        <source src="/video/Grammar-3.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="/video">
                <div class="media-info1">
                    <span class="media-title">Grammar-4</span>
                    <video controls>
                        <source src="/video/Grammar-4.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                </a>
            </div>

            
            



         

            
            

        </div>
    </div>
    <script src="css/HomePage.js">
    </script>

</body>
</html>