<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
</head>
<body>
    <div class="container">
        <h1>Video List</h1>
        <input type="text" id="searchBar" placeholder="Search videos...">
    </section>
        <div id="mediaList">
            
            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Just Intro</span>
                    <video controls>
                        <source src="LC-1.mp4" type="video/mp4">
                        Your browser support does not the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Learn Characters-1</span>
                    <video controls>
                        <source src="IMG_8464.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Learn Characters-2</span>
                    <video controls>
                        <source src="IMG_8564.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>
            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Lesson-1</span>
                    <video controls>
                        <source src="IMG_8664.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Lesson-2</span>
                    <video controls>
                        <source src="IMG_8764.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Lesson-3</span>
                    <video controls>
                        <source src="IMG_8864.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Lesson-4</span>
                    <video controls>
                        <source src="IMG_8964.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Grammar-1</span>
                    <video controls>
                        <source src="IMG_9174.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Grammar-2</span>
                    <video controls>
                        <source src="IMG_9274.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="video.html">
                <div class="media-info">
                    <span class="media-title">Grammar-3</span>
                    <video controls>
                        <source src="IMG_9374.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </a>
            </div>

            <div class="media-item">
                <a href="=video.html">
                <div class="media-info">
                    <span class="media-title">Grammar-4</span>
                    <video controls>
                        <source src="IMG_9474.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                </a>
            </div>
            



         

            
            

        </div>
    </div>
    <script src="css/HomePage.js">
    </script>

</body>
</html>