<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('partials/head')%>
</head>
<body>
    <div class="header">
        <h1>Learn Chinese language Online</h1>
        <p>Join our engaging online classes and experience the richness of Chinese language and traditions.</p>
    </div>

    <div class="content"></div>
        <div class="section">
            <h2>In This System...</h2>
            <p>The system has lots of variety.</p>
        </div>

        <div class="section">
            <h2>In This System,You’ll Learn</h2>
            <ul>
                <li>Reading, Speaking & Writing</li>
                 <li>Learn Chinese Characters</li>
                  <li>PyinYin</li>
                  <li>Greeting</li>
                  <li>Grammar</li>
            </ul>
        </div>

        <div class="section">
            <h2>Enrool Now!!</h2>
            <p>Register Now!</p>
            <a href="/home" class="cta-button">Join Now</a>
        </div>
    </div>

    <footer>
        &copy; 2024 Chinese Online Class. All Rights Reserved.
    </footer>
</body>
</html>