<!DOCTYPE html>
<html lang="en">
</style>
</head>
    <%-include('partials/head')%>
<body>
<head>

    <div class="container"></div>

    <video controls>
        <source src="LC-Intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1>Intro</h1>
    <p>How to Learn Chinese Characters | Introduction to Chinese Characters</p>

    <video controls>
        <sourc src="LC-Ls-1.mp4" type="video/mp4">
        Your browser does not supprot the video tag.
    </video>
    <h1>LC-Lesson-1</h1>
    <p>Learn The Chinese Characters 人 大 天 夫 | Learn to Read and Write Chinese Characters</p>

    <video controls>
        <sourc src="LC-Ls-2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1>LC-Lesson-2</h1>
    <p>Learn The Chinese Characters 女 子 好 安 | Learn to Read and Write Chinese Characters </p>

    <video controls>
        <source src="Lesson-1.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Lesson-1</h1>
    <p>Chinese Basic consonant</p>

    <video controls>
        <source src="Lesson-2.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Lesson-2</h1>
    <p>Chinese Basic consonant</p>

    <video controls>
        <source src="Lesson-3.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Lesson-3</h1>
    <p>Chinese Basic</p>

    <video controls>
        <sourc src="Lesson-4.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Lesson-4</h1>
    <p>Chinese Basic & Where did start learning Chinese?</p>

    <video controls>
        <sourc src="Grammar-1.mp4" type="video/mp4">
        Your broswer does not support the video the tag.
    </video>
    <h1>Grammar-1</h1>
    <p>Chinese Basic Grammar</p>

    <video controls>
        <source src="Grammar-2.mp4" type="video/mp4">
        Your broswer does not support the video the tag.
    </video>
    <h1>Grammar-2</h1>
    <p>Chinese Basic Grammar</p>

    <video controls>
        <source src="Grammar-3.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Grammar-3</h1>
    <p>Chinese Basic Grammar</p>

    <video controls>
        <source src="Grammar-4.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Grammar-4</h1>
    <p>Chinese Basic Grammar</p>

    <video controls>
        <source src="Greeting.mp4" type="video/mp4">
        Your broswer does not support the video tag.
    </video>
    <h1>Greeting</h1>
    <p>Let's introduce in a Chinese way.</p>

    <video controls>
        <sourc src="Wdylte.mp4" type="video/mp4">
        Your broswer does not suport the video tag.
    </video>
    <h1>What do you like to eat?</h1>
    <p>>你爱吃什么？ | What do you like to eat?</p>
    </div>
    </body>
</html>