body {

    font-family: 'Arial', sans-serif;
    background: rgb(248, 54, 54) url("ChineseFlag.jfjf") no-repeat fixed center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
    .container {
        background-color: rgb(255, 172, 172);
        padding: 70px;
        border-radius: 80px;
        box-shadow: 0 10px 12px rgba(8, 8, 8);
        width: 1000px;
        max-width: 1000px;
        text-align: center;
    }
        
    h1 {
        margin-bottom: 20px;
        font-size: 2em;
        color: rgb(0, 0, 0);
    }
    #mediaList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 40px;
    }
    .media-item {
        background-color: #FFD7D7;
        border: 1px solid#d81e1e;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.1s;
    }
    .media-info {
        padding: 20px;
        width: 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: normal;
    }
    .media-preview img, .media-preview video {
        width: 100px;
        height: auto;
        object-fit: cover;
    }
    audio, video {
        width: 87;
        outline: auto;
    }